* {
	margin: 0;
	padding: 0;
	font-family: "Oswald", sans-serif;
	font-family: "Outfit", sans-serif;
	font-family: "Poppins", sans-serif;
	color: white;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("medical.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.from-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 380px;
	height: 480px;
	margin: auto;
	background: #ececec;
	padding: 5px;
	overflow: hidden;
	background: transparent;
	/* border: 2px solid rgba(255, 255, 255, 0.944); */
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

	border-radius: 20px;
	backdrop-filter: blur(15px);
}

.button-box {
	display: flex;
	width: fit-content;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px rgba(255, 255, 255, 0.04);
	border-radius: 30px;
}
.toggle-btn {
	color: white;
	flex: 1;
	width: 150px;
	padding: 10px 30px;
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 20px;
	outline: none;
}
#btn {
	position: absolute;
	z-index: -5;
	width: 150px;
	height: 100%;
	background-color: white;
	border: 2px solid white;
	box-sizing: border-box;
	border-radius: 30px;
	transition: 0.5s;
}

#donor-log {
	color: black;
}

.input-group {
	top: 120px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input-group label {
}
.input-field {
	font-size: medium;
	width: 100%;
	padding: 10px 0;
	margin: 0 0 20px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid white;
	outline: none;
	background: transparent;
}
.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 50px auto;
	background: none;
	border: 2px solid white;
	outline: none;
	border-radius: 30px;
	transition: 0.2s;
}

.submit-btn:hover {
	color: black;
	background: white;
}
.forget {
	margin: 25px 0;
}

.forget a {
	font-size: small;
	text-decoration: none;
}

.forget a:hover {
	text-decoration: underline;
}

#donar {
	left: 50px;
}

#recep {
	left: 450px;
}
