{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<style>
			.success-message {
				z-index: 1000;
			}
		</style>

		<title>{% block title %} {% endblock %}</title>
		{% block csslink %} {% endblock %}
		<link
			rel="stylesheet"
			href="{% static 'organdonation/bootstrap/css/bootstrap.min.css' %}"
		/>
		<script src="{% static 'organdonation/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'organdonation/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Outfit:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fasthand&family=Oswald:wght@300;400;500&family=Outfit:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="img-fluid">
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand h1 mb-0" href="#">Organ Donation</a>
				<button
					class="navbar-toggler bg-white"
					type="button"
					data-bs-theme="bg-white"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				{% include 'organdonation/navbar.html' %}
			</div>
		</nav>
		
		
		{% if messages %}
		<div class="position-absolute container-fluid success-message">
				{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% block body %} {% endblock %}
	</body>
</html>
