{% extends 'organdonation/base.html' %} 

{% load static %} 

{% block title %} Organ Donation {% endblock  %}


{% block csslink%}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'organdonation/css/style1.css' %}" />

{% else %}
<link rel="stylesheet" href="{% static 'organdonation/css/style.css' %}" />
{% endif %}
{%endblock csslink %} 

{% block body %}		
	{% if user.is_authenticated and user.is_recipient %}
		<div class="container">
			<h1 class="my-5">Available Donors</h1>
			<div class="row row-cols-1 row-cols-md-2 g-4">
				{% for donor in donorslist %}
				<div class="col">
					<div class="card h-100">
					  <div class="card-body">
						 <h5 class="card-title fs-2">{{ donor.first_name}} {{ donor.last_name }}</h5>
						 <p class="card-text">gender: {{ donor.gender }}</p>
						 <p class="card-text">age: {{ donor.age }}</p>						 
						 <p class="card-text">Blood Group:
							{% if donor.blood_group == 'bp' %}
								B+
							{% elif donor.blood_group == 'bn' %}
								B-
							{% elif donor.blood_group == 'an' %}
								A-
							{% elif donor.blood_group == 'ap' %}
								A+
							{% elif donor.blood_group == 'op' %}
								O+
							{% elif donor.blood_group == 'on' %}
								O-
							{% elif donor.blood_group == 'abp' %}
								AB+
							{% elif donor.blood_group == 'abn' %}
								AB-
							{% endif %}
						 </p>
						 <p class="card-text">Address: {{ donor.addr_line }}, {{ donor.city }}</p>
						 <p class="card-text">District: {{ donor.district }} -  {{ donor.pincode }}</p>
						 <p class="card-text">Medical History: {{ donor.medical_history }}</p>
						 <p class="card-text">Social History: {{ donor.social_history }}</p>
						 <a href="#" class="btn btn-secondary">View Details</a>
					  </div>
					</div>
				</div>
				{% endfor %}
	{% else %}
		<div class="container text-center quote">Life is a gift, Pass it on</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center content">
					<p>
						Mostly due to unawareness and prejudices, there is a huge shortage of
						organs that are need for transplants. Many people who need transplants
						of organs and tissues cannot get them because of a shortage of
						donations. Every month, more than 2,000 new names are added to the
						national waiting list for organ transplants. About 16 or 17 people die
						every day while waiting for a transplant of a vital organ such as a
						kidney, heart or liver.
					</p>
				</div>
				<div class="row">
					<div class="col-md-6 text-center pledging">
						<p>
							So today is a good day to save lives <br />
							Become an Organ Donor
						</p>
						<button class="btn btn-dark reg-link">
							<a href="{% url 'dregister' %}">Pledge yourself as a Donor</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock body %}
