<!-- Modal -->
<div class="modal fade" id="exampleModal{{donor.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <h5 class="card-title fs-2">{{ donor.first_name}} {{ donor.last_name }}</h5><br>
            <p class="card-text">gender: {{ donor.gender | capfirst }}</p>
            <p class="card-text">age: {{ donor.age }}</p>						 
            <p class="card-text">Blood Group:
               {% if donor.blood_group == 'bp' %}
                  B+
               {% elif donor.blood_group == 'bn' %}
                  B-
               {% elif donor.blood_group == 'an' %}
                  A-
               {% elif donor.blood_group == 'ap' %}
                  A+
               {% elif donor.blood_group == 'op' %}
                  O+
               {% elif donor.blood_group == 'on' %}
                  O-
               {% elif donor.blood_group == 'abp' %}
                  AB+
               {% elif donor.blood_group == 'abn' %}
                  AB-
               {% endif %}
            </p>
            <p class="card-text">Address: {{ donor.addr_line }}, {{ donor.city }}</p>
            <p class="card-text">District: {{ donor.district }} -  {{ donor.pincode }}</p>
            <p class="card-text">Medical History: {{ donor.medical_history }}</p>
            <p class="card-text">Social History: {{ donor.social_history }}</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Request</button>
         </div>
      </div>
   </div>
</div>


