{% extends 'organdonation/base.html' %}

{% load static %}

{% block title %} Recipient Home | Organ Donation {% endblock %}

{% block csslink%}
<link rel="stylesheet" href="{% static 'organdonation/css/style1.css' %}" />
{%endblock csslink %} 


{% block body %}
<div class="container"><br>
   <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
      <a class="navbar-brand" href="#">Available Donors</a>
      <ul class="nav nav-pills">
         <div class="btn-group">
            <a href="{% url 'recipienthome' %}" class="btn btn-secondary text-decoration-none" aria-current="page">Blood Group</a>
            <a href="{% url 'recipienthomeorgan' %}" class="btn btn-secondary text-decoration-none">Organ</a>
          </div>
      </ul>
    </nav>
    {% block view %}
   <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
      {% if organview %}
         {% include 'organdonation/recipientorganview.html' %}
      {% else %}
         {% for donor in donorslist %}
         <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title fs-2">{{ donor.first_name}} {{ donor.last_name }}</h5>
                <p class="card-text">gender: {{ donor.gender }}</p>
                <p class="card-text">age: {{ donor.age }}</p>						 
                <p class="card-text">Blood Group:
                  {% if donor.blood_group == 'bp' %}
                     B+
                  {% elif donor.blood_group == 'bn' %}
                     B-
                  {% elif donor.blood_group == 'an' %}
                     A-
                  {% elif donor.blood_group == 'ap' %}
                     A+
                  {% elif donor.blood_group == 'op' %}
                     O+
                  {% elif donor.blood_group == 'on' %}
                     O-
                  {% elif donor.blood_group == 'abp' %}
                     AB+
                  {% elif donor.blood_group == 'abn' %}
                     AB-
                  {% endif %}
                </p>
                <p class="card-text">Address: {{ donor.addr_line }}, {{ donor.city }}</p>
                <p class="card-text">District: {{ donor.district }} -  {{ donor.pincode }}</p>
                <p class="card-text">Medical History: {{ donor.medical_history }}</p>
                <p class="card-text">Social History: {{ donor.social_history }}</p>
                <a href="#" class="btn btn-secondary">View Details</a>
              </div>
            </div>
         </div>
         {% endfor %}           
      {% endif %}
   </div>
    {% endblock  %}
   
{% endblock %}