{% extends 'organdonation/base.html' %}

{% load static %}

{% block title %}Donor Requests | Organ Donation {% endblock %}

{% block csslink%}
<link rel="stylesheet" href="{% static 'organdonation/css/style1.css' %}" />
{%endblock csslink %} 


{% block body %}
<div class="container">
   <h1 class="mt-5">Accepted Requests</h1><hr>
   <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
      {% for sender in accepted %}  
         <div class="col">
            <div class="card h-100">
               <div class="card-body">
                  <h5 class="card-title fs-2">{{ sender.donor.first_name}} {{ sender.donor.last_name }}</h5>
                  <p class="card-text">age: {{ sernder.donor.age }}</p>						 
                  <p class="card-text">Blood Group:
                     {% if sender.donor.blood_group == 'bp' %}
                        B+
                     {% elif sender.donor.blood_group == 'bn' %}
                        B-
                     {% elif sender.donor.blood_group == 'an' %}
                        A-
                     {% elif sender.donor.blood_group == 'ap' %}
                        A+
                     {% elif sender.donor.blood_group == 'op' %}
                        O+
                     {% elif sender.donor.blood_group == 'on' %}
                        O-
                     {% elif sender.donor.blood_group == 'abp' %}
                        AB+
                     {% elif sender.donor.blood_group == 'abn' %}
                        AB-
                     {% endif %}
                  </p>
                  <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{sender.donor.user_id}}">View Details</a>
               </div>
            </div>
         </div>  
         <div class="modal fade" id="exampleModal{{sender.donor.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
               <div class="modal-content">
                  <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <h5 class="card-title fs-2">{{ sender.donor.first_name}} {{ sender.donor.last_name }}</h5><br>
                     <p class="card-text">gender: {{ sender.donor.gender | capfirst }}</p>
                     <p class="card-text">age: {{ sender.donor.age }}</p>						 
                     <p class="card-text">Blood Group:
                        {% if sender.donor.blood_group == 'bp' %}
                           B+
                        {% elif sender.donor.blood_group == 'bn' %}
                           B-
                        {% elif sender.donor.blood_group == 'an' %}
                           A-
                        {% elif sender.donor.blood_group == 'ap' %}
                           A+
                        {% elif sender.donor.blood_group == 'op' %}
                           O+
                        {% elif sender.donor.blood_group == 'on' %}
                           O-
                        {% elif sender.donor.blood_group == 'abp' %}
                           AB+
                        {% elif sender.donor.blood_group == 'abn' %}
                           AB-
                        {% endif %}
                     </p>
                     <p class="card-text">Email: {{ sender.donor.email }}</p>	
                     <p class="card-text">Mobile No: {{ sender.donor.mobile }}</p>	
                     <p class="card-text">Address: {{ sender.donor.addr_line }}, {{ sender.donor.city }}</p>
                     <p class="card-text">District: {{ sender.donor.district }} -  {{ sender.donor.pincode }}</p>
                     <p class="card-text">Medical History: {{ sender.donor.medical_history }}</p>
                     <p class="card-text">Medical Condition: {{ sender.donor.medical_condition }}</p>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>  
         {% endfor %}
   </div>  
   <h1 class="mt-5">Pending Requests</h1><hr>
   <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
      {% for sender in requested %}  
         <div class="col">
            <div class="card h-100">
               <div class="card-body">
                  <h5 class="card-title fs-2">{{ sender.donor.first_name}} {{ sender.donor.last_name }}</h5>
                  <p class="card-text">Age: {{ sender.donor.age }}</p>						 
                  <p class="card-text">Blood Group:
                     {% if sender.donor.blood_group == 'bp' %}
                        B+
                     {% elif sender.donor.blood_group == 'bn' %}
                        B-
                     {% elif sender.donor.blood_group == 'an' %}
                        A-
                     {% elif sender.donor.blood_group == 'ap' %}
                        A+
                     {% elif sender.donor.blood_group == 'op' %}
                        O+
                     {% elif sender.donor.blood_group == 'on' %}
                        O-
                     {% elif sender.donor.blood_group == 'abp' %}
                        AB+
                     {% elif sender.donor.blood_group == 'abn' %}
                        AB-
                     {% endif %}
                  </p>
                  <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{sender.donor.user_id}}">View Details</a>
               </div>
            </div>
         </div>  
         <div class="modal fade" id="exampleModal{{sender.donor.user_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
               <div class="modal-content">
                  <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <h5 class="card-title fs-2">{{ sender.donor.first_name}} {{ sender.donor.last_name }}</h5><br>
                     <p class="card-text">Gender: {{ sender.donor.gender | capfirst }}</p>
                     <p class="card-text">Age: {{ sender.donor.age }}</p>						 
                     <p class="card-text">Blood Group:
                        {% if sender.donor.blood_group == 'bp' %}
                           B+
                        {% elif sender.donor.blood_group == 'bn' %}
                           B-
                        {% elif sender.donor.blood_group == 'an' %}
                           A-
                        {% elif sender.donor.blood_group == 'ap' %}
                           A+
                        {% elif sender.donor.blood_group == 'op' %}
                           O+
                        {% elif sender.donor.blood_group == 'on' %}
                           O-
                        {% elif sender.donor.blood_group == 'abp' %}
                           AB+
                        {% elif sender.donor.blood_group == 'abn' %}
                           AB-
                        {% endif %}
                     </p>
                     <p class="card-text">District: {{ sender.donor.district }} -  {{ sender.donor.pincode }}</p>
                     <p class="card-text">Medical History: {{ sender.donor.medical_history }}</p>
                     <p class="card-text">Social History: {{ sender.donor.social_history }}</p>
                  </div>
                  <div class="modal-footer">
                     <a type="button" class="btn btn-secondary disabled">Status: Pending</a>
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>  
         {% endfor %}
   </div>  
</div>
{% endblock %}