/* #F2E9E4
#C9ADA7
#9A8C98
#4A4E69
#22223B
#EDEDE8 */

:root {
	--background-color: #f2e9e4;
	--light: #c9ada7;
	--medium: #9a8c98;
	--dark: #4a4e69;
	--text-color: #22223b;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Oswald", sans-serif;
	font-family: "Outfit", sans-serif;
	font-family: "Poppins", sans-serif;
	color: #22223b;
}

body {
	background: #f2e9e4;
}

.hero {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.from-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 380px;
	height: 480px;
	margin: auto;
	padding: 5px;
	overflow: hidden;
	background: white;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	border-radius: 12px;
	backdrop-filter: blur(15px);
}

.from-box label {
	font-weight: bold;
	font-size: large;
}

.button-box {
	display: flex;
	width: fit-content;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #4a4e690a;
	border-radius: 30px;
}
.toggle-btn {
	font-weight: bold;
	font-size: medium;
	color: white;
	flex: 1;
	width: 150px;
	padding: 10px 30px;
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 20px;
	outline: none;
}

#recep-log {
	color: var(--text-color);
}

#btn {
	position: absolute;
	z-index: -5;
	width: 150px;
	height: 100%;
	background-color: var(--text-color);
	box-sizing: border-box;
	border-radius: 30px;
	transition: 0.5s;
}

.input-group {
	top: 120px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input-field {
	font-size: medium;
	width: 100%;
	padding: 10px 0;
	margin: 0 0 20px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid var(--text-color);
	outline: none;
	background: transparent;
}
.submit-btn {
	color: white;
	font-size: medium;
	font-weight: bold;
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 50px auto;
	background: var(--text-color);
	border: 2px solid var(--text-color);
	outline: none;
	border-radius: 30px;
	transition: 0.2s;
}

.submit-btn:hover {
	background: #4a4e69;
}
.forget {
	color: var(--text-color);
	margin: 25px 0;
}

.forget a {
	font-size: small;
	text-decoration: none;
}

.forget a:hover {
	text-decoration: underline;
}

#donor {
	left: 50px;
}

#recep {
	left: 450px;
}
