<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Donor Registration Form</title>
		<link rel="stylesheet" href="../static/form.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Outfit:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="container" id="container">
			<form class="regform row g-3" id="dreg">
				<h1 class="title">DONOR REGISTRATION FORM</h1>

				<div class="col-md-6 form-group required">
					<label class="form-label control-label" for="first_name"
						>First Name</label
					>
					<input
						class="form-control"
						type="text"
						id="first_name"
						placeholder="Enter your first name"
						required
					/>
				</div>

				<div class="col-md-6">
					<label class="form-label" for="last_name">Last Name</label>
					<input
						class="form-control"
						type="text"
						id="last_name"
						placeholder="Enter your last name"
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="dob"
						>Date of Birth</label
					>
					<input class="form-control" type="date" id="dob" required />
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="age">Age</label>
					<input
						class="form-control"
						type="number"
						id="age"
						placeholder="age"
						readonly
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="gender">Gender</label>
					<select class="form-select" id="gender" required>
						<option value="" selected>--Select your Gender--</option>
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="others">Others</option>
					</select>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="mobile_num"
						>Mobile Number</label
					>
					<input
						class="form-control"
						type="text"
						id="mobile_num"
						placeholder="Enter your mobile number"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="mail">Email</label>
					<input
						class="form-control"
						type="email"
						id="mail"
						placeholder="Enter your email address"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="password"
						>Create a Password</label
					>
					<input
						class="form-control"
						type="text"
						id="password"
						placeholder="Create your own password"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="blood"
						>Blood Group</label
					>
					<select class="form-select" id="blood" required>
						<option value="" selected>--Select your Blood Group--</option>
						<option value="ap">A+</option>
						<option value="an">A-</option>
						<option value="bp">B+</option>
						<option value="bn">B-</option>
						<option value="op">O+</option>
						<option value="on">O-</option>
						<option value="abp">AB+</option>
						<option value="abn">AB-</option>
					</select>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="aadhaar"
						>Aadhaar Number</label
					>
					<input
						class="form-control"
						type="text"
						id="aadhaar"
						placeholder="Enter your Aadhaar number"
						required
					/>
				</div>

				<div class="col-md-4">
					<label class="form-label" for="occupation">Occupation</label>
					<select class="form-select" id="occupation" required>
						<option value="" selected>--Select your Occupation--</option>
						<option value="student">Student</option>
						<option value="business">Business</option>
						<option value="self_employed">Self Employed</option>
						<option value="government_employee">Government Employee</option>
						<option value="other">Other</option>
					</select>
				</div>

				<div class="col-8 form-group required">
					<label class="form-label control-label" for="addr_line"
						>Address Line</label
					>
					<input
						class="form-control"
						type="text"
						id="addr_line"
						placeholder="Address Line 1"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="city">City</label>
					<input
						class="form-control"
						type="text"
						id="city"
						required
						placeholder="city"
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="district"
						>District</label
					>
					<input
						class="form-control"
						type="text"
						id="district"
						placeholder="district"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="state">State</label>
					<input
						class="form-control"
						type="text"
						id="state"
						required
						placeholder="state"
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="pincode">Pincode</label>
					<input
						class="form-control"
						type="text"
						id="pincode"
						placeholder="pincode"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="em_name"
						>Emergency Contact Name</label
					>
					<input
						class="form-control"
						type="text"
						id="em_name"
						placeholder="Person to contact in emergency"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="em_mobile"
						>Emergency Contact Number</label
					>
					<input
						class="form-control"
						type="text"
						id="em_mobile"
						placeholder="Mobile number"
						required
					/>
				</div>

				<div class="col-md-4 form-group required">
					<label class="form-label control-label" for="em_relation"
						>Relationship</label
					>
					<input
						class="form-control"
						type="text"
						id="em_relation"
						placeholder="Type of relationship"
						required
					/>
				</div>

				<div class="col-md-6">
					<label class="form-label" for="medical_history"
						>Medical History(if any)</label
					>
					<textarea
						id="medical_history"
						class="form-control form-textarea"
						placeholder="Any chronic conditions or illness, allergies, medications taken and recent surgeries."
					></textarea>
				</div>

				<div class="col-md-6">
					<label class="form-label" for="social_history"
						>Social History(if any)</label
					>
					<textarea
						name="social"
						id="social_history"
						class="form-control form-textarea"
						placeholder="Lifestyle habits such as smoking, drinking, drug use, etc."
					></textarea>
				</div>

				<div class="form-div col-md-12 form-group required">
					<label class="form-label control-label" for="organs"
						>Organs I wish to donate :</label
					><br />
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ"
							value="allorgans"
						/>
						<label class="form-check-label" for="organ">All Organs</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ1"
							value="kidney"
						/>
						<label class="form-check-label" for="organ1">Kidney</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ2"
							value="liver"
						/>
						<label class="form-check-label" for="organ2">Liver</label>
					</div>
					<br />
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ3"
							value="lungs"
						/>
						<label class="form-check-label" for="organ3">Lungs</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ4"
							value="pancreas"
						/>
						<label class="form-check-label" for="organ4">Pancreas</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="checkbox"
							id="organ5"
							value="small_intestine"
						/>
						<label class="form-check-label" for="organ5">Small Intestine</label>
					</div>
				</div>
				<hr />

				<div class="col-12">
					<div class="form-check">
						<input
							class="form-check-input"
							type="checkbox"
							value="bonafide"
							id="check-1"
							required
						/>
						<label class="form-check-label" for="check-1"
							>I declare that I'm a citizen of India and above 18 years of
							age</label
						>
					</div>
				</div>

				<div class="col-12">
					<div class="form-check">
						<input
							class="form-check-input"
							type="checkbox"
							value="agreement"
							id="check-2"
							required
						/>
						<label class="form-check-label" for="check-2"
							>I agree to the terms and conditions</label
						>
					</div>
				</div>

				<div class="form-button">
					<input
						class="btn btn-primary"
						type="submit"
						value="Submit"
						id="submit_btn"
					/>
				</div>
			</form>
		</div>
		<script src="../js/age.js"></script>
	</body>
</html>
