<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Organ Donation</title>
		<link rel="stylesheet" href="../static/style.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Outfit:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fasthand&family=Oswald:wght@300;400;500&family=Outfit:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Ubuntu:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</head>
	<body class="img-fluid">
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand h1 mb-0" href="#">Organ Donation</a>
				<button
					class="navbar-toggler bg-white"
					type="button"
					data-bs-theme="bg-white"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav nav-fill ms-auto">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Login
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="./login.html">Donor</a></li>
								<li>
									<a class="dropdown-item" href="./login.html">Recipient</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Register
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="./dreg.html">Donor</a></li>
								<li>
									<a class="dropdown-item" href="./rreg.html">Recipient</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Learn more</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container text-center quote">Life is a gift, Pass it on</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center content">
					<p>Mostly due to unawareness and prejudices, there is a huge shortage of organs that are need for transplants. Many people who need transplants of organs and tissues cannot get them because of a shortage of donations. Every month, more than 2,000 new names are added to the national waiting list for organ transplants. About 16 or 17 people die every day while waiting for a transplant of a vital organ such as a kidney, heart or liver.</p>
				</div>
				<div class="row">
					<div class="col-md-6 text-center pledging">
						<p>So today is a good day to save lives <br>
							Become an Organ Donor
						</p>
						<button class="btn btn-dark reg-link"><a href="./dreg.html">Pledge yourself as a Donor</a></button>
					</div>
				</div>
		</div>
	</body>
</html>
